# Compiled source #
###################
*.o
*.mod
*.pyc
*.so



# config files #
################
*.config

# tmp files #
############
*~
*.asv

# Makefiles #
#############


# Input files #
###############


# Exclude some folders #
########################
.vs/
multi_bodies/rods/data
